body {
	background-color: floralwhite;
    margin: auto;
}

img {
    width: 80%;
    position: center;
}

form {
	width: 300px;
	margin: auto;
}

.line-break {

}

#container {
	background-color: floralwhite;
	text-align: center;
	width: 85%;
	margin: auto;
    font-family: sans-serif;
}

caption {
	align: center;
}

nav {
	text-align: center;
}
#footer-line {
	border-color: black;
    width: auto;
}

footer {
    text-align: center;
    font-family: sans-serif;
}

#name-input, #email-input, #comment-input, #submit-input {
	width: 75%;
	margin: auto;
}

.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

#buttons-mobile  {
    margin: auto;
	width: 120px;
    padding: 0;
    overflow: hidden;
}

#buttons-desktop {
    margin: auto;
	width: 420px;
    padding: 0;
    overflow: hidden;
}

#contact-table {
	margin:auto;
}

#banner-desktop {
    text-align: center;
    margin: auto;
    width: 80%;
}

#content {
    text-align: center;
}

#rat {
    width:110px;
    height:90px;
}

#ox {
    width:150px;
    height:95px;
}

#tiger {
    width:150px;
    height:76px;
}

#rabbtit {
    width:130px;
    height:80px;
}

#dragon {
    width:130px;
    height:125px;
}

#snake {
    width:130px;
    height:115px; 
}

#horse {
    width:130px;
    height:115px;
}

#sheep {
    width:120px;
    height:110px; 
}

#monkey {
    width:97px;
    height:120px; 
}

#rooster {
    width:95px;
    height:110px;
}

#dog {
    width:105px;
    height:95px;
}

#pig {
    width:140px;
    height:95px;
}

#zodiac-wheel {
    width: auto;
    height: auto;
	margin: auto;
}