body {
	background: #fffaf0;
    margin: auto;
    
}

img {
    width: 80%;
    text-align: center;
}

form {
	width: 300px;
	margin: auto;
}

.line-break {

}

#container {
	background-color: #fffaf0;
	text-align: center;
	margin: auto;
    font-family: sans-serif;
}

#article {
    width: 85%;
    text-align: center;
    margin: auto;
}

caption {
	text-align: center;
}

nav {
	text-align: center;
}
#footer-line {
	border-color: black;
    width: auto;
}

footer {
    text-align: center;
    font-family: sans-serif;
}

#name-input, #email-input, #comment-input, #submit-input {
	width: 75%;
	margin: auto;
}

.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

#buttons-mobile  {
    margin: auto;
	width: 120px;
    padding: 0;
    overflow: hidden;
}

#buttons-desktop {
    margin: auto;
	width: 420px;
    padding: 0;
    overflow: hidden;
}

#contact-table {
	margin:auto;
}

#banner-desktop {
    text-align: center;
    margin: auto;
    width: 80%;
}

#content {
    text-align: center;
}

#rat, #rat-mobile {
    width:110px;
    height:90px;
    margin: auto;
}

#rat-desktop {
    width:300px;
    height:228px;
    margin: auto;
}

#ox, #ox-mobile {
    width:150px;
    height:95px;
    margin: auto;
}

#ox-desktop {
    width:355px;
    height:228px;
    margin: auto;
}

#tiger, #tiger-mobile {
    width:150px;
    height:76px;
    margin: auto;
}

#tiger-desktop {
    width:430px;
    height:228px;
    margin: auto;
}

#rabbit, #rabbit-mobile {
    width:130px;
    height:80px;
    margin: auto;
}

#rabbit-desktop {
    width:360px;
    height:228px;
    margin: auto;
}

#dragon, #dragon-mobile {
    width:130px;
    height:125px;
    margin: auto;
}

#dragon-desktop {
    width:340px;
    height:300px;
    margin: auto;
}

#snake, #snake-mobile {
    width:130px;
    height:115px; 
    margin: auto;
}

#snake-desktop {
    width:300px;
    height:228px;
    margin: auto;
}

#horse, #horse-mobile {
    width:130px;
    height:115px;
    margin: auto;
}

#horse-desktop {
    width:360px;
    height:290px;
    margin: auto;
}

#sheep, #sheep-mobile {
    width:120px;
    height:110px; 
    margin: auto;
}

#sheep-desktop {
    width:300px;
    height:228px;
    margin: auto;
}

#monkey, #monkey-mobile {
    width:97px;
    height:120px; 
    margin: auto;
}

#monkey-desktop {
    width:260px;
    height:250px;
    margin: auto;
}

#rooster, #rooster-mobile {
    width:95px;
    height:110px;
    margin: auto;
}

#rooster-desktop {
    width:270px;
    height:250px;
    margin: auto;
}

#dog, #dog-mobile {
    width:125px;
    height:95px;
    margin: auto;
}

#dog-desktop {
    width:350px;
    height:228px;
    margin: auto;
}

#pig, #pig-mobile {
    width:140px;
    height:95px;
    margin: auto;
}

#pig-desktop {
    width:340px;
    height:228px;
    margin: auto;
}

#zodiac-wheel {
    width: auto;
    height: auto;
	margin: auto;
}